header{
    background-color: rgb(0, 0, 0, 0.5);
    background-size:cover;
    
}

article{
    margin:0px;
    background-image:url("hands.png");
    background-attachment: fixed;
    background-position: center;
    background-size:cover;

}

body{
    margin:0px;
    background-color:black;
    background-size:cover;
}
body.portfolio{
    margin:0px;
    background-image:url("webbg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
}

h1{
    font-size: 35px;
    font-weight:100;
    font-family: Garamond;
    color: white;
    display:inline;
    text-align: left;
    margin:20px;
}

h2{
    font-size: 35px;
    font-weight:170;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    display:inline;
    text-align: left;
    margin:50px;
}

h3{
  
    font-size:24px;
    font-weight: 100;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color:white;
}
h4{
    font-size:45px;
    font-weight: 200;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:black;
    text-align: center;
    display:block;
}
p{
    margin:50px;
    font-size:24px;
    font-family: Garamond;
    color:white;
    display:block;
    text-align: left;
  
}
.links{
    color:white;
}

.links:hover{
    color:darkgray;
}

a{
    text-decoration:none;
}

img{
    
    width:400px;
    margin:auto;
    display:block;
    transition-duration: 0.2s;
}
img.p:hover{
    transform: perspective(1px) scale3d(1.06, 1.06, 1) translateZ(0) !important;
}


img.about{
    width: 200px;
    margin: 50px;
    float:left;
}
img.logos{
    width: 24px;

    display:inline-flex;
}
.bn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    backface-visibility: hidden;
    border: 0.2rem solid transparent;
    border-radius: 3rem;
    border-color: #fff;
    margin:30px;
  }
  .bnl {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    border:0.2rem solid transparent;
    border-radius: 3rem;
    backface-visibility: hidden;
    margin:30px;
  }
  .b {
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
  }
  .b:hover {
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
  }